[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KBabelTool

[PropertyDef::Shortcuts]
Type=QStringList

[PropertyDef::ValidationString]
Type=QString
